---
---

body {
    margin: 0;
    font-family: sans-serif;

    width: 1366px;
    height: 720px;
    overflow: hidden;
}

.parent-table {
    width: 100%;
    border-collapse: collapse;

    .parent-table-caption {
        font-size: 40pt;
        margin-bottom: 20px;
    }

    .parent-table-header-cell {
        width: 50%;
        font-size: 40pt;
    }

    .parent-table-cell {
        vertical-align: top;
    }


    .parent-table-left-cell {
        border-right: solid;
    }

    .child-table {
        width: 100%;
        border-collapse: collapse;

        .child-table-body-cell-product,
        .child-table-body-cell-pounds,
        .child-table-body-cell-pence {
            vertical-align: middle;
            // padding-top: 4px;
            // padding-bottom: 4px;
        }

        .child-table-body-cell-product,
        .child-table-body-cell-pounds {
            font-size: 36pt;
        }

        .child-table-body-cell-product {
            padding: 0px 15px;
            width: 40%;
        }

        .child-table-body-cell-pounds {
            padding-left: 15px;
            width: 6%;
            text-align: right;
        }

        .child-table-body-cell-pence {
            text-align: left;
            width: 4%;
            padding-right: 15px;
            font-size: 24pt;
        }

        .child-table-body-cell-product-subtitle {
            font-size: 28pt;
            font-style: italic;
            white-space: nowrap;
        }
    }
}

.payment {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 50%;
    text-align: center;
    padding: 20px;
    
    .payment-message {
        font-size: 24pt;
        flex-grow: 1;
    }
}
